/*
Only one of the following peripherals can be enabled: SPI1, SPIM1, SPIS1, TWI1, TWIM1, TWIS1, UARTE1
if instance x (where 0<=x<=3) is used by one of the peripherals, none of the other peripherals can use the same instance.
https://devzone.nordicsemi.com/f/nordic-q-a/62899/nrf9160---only-one-of-the-following-peripherals-can-be-enabled-spi1-uarte1-why
*/

// MPU9265
&i2c1 {
	status = "okay";
	compatible = "nordic,nrf-twim";
	label = "I2C_1";
	pinctrl-0 = <&i2c1_default>;
	pinctrl-1 = <&i2c1_sleep>;
	pinctrl-names = "default", "sleep";
	clock-frequency = <100000>; 
};

// ICM42688
&i2c2 {
	status = "okay";
	compatible = "nordic,nrf-twim";
	label = "I2C_2";
	pinctrl-0 = <&i2c2_default>;
	pinctrl-1 = <&i2c2_sleep>;
	pinctrl-names = "default", "sleep";
	clock-frequency = <100000>; 
};

//////////////////////////////// Microphone
//////// PDM interface
// &clock {
// 	hfclkaudio-frequency = <11289600>;
// };


///////// I2S interface
i2s_rx_dev: &i2s0 {
	status = "okay";
	pinctrl-0 = <&i2s0_default>;
	pinctrl-names = "default";
	// clock-source = "ACLK";
};

&pinctrl {
	i2c1_default: i2c1_default{
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 5)>,
				<NRF_PSEL(TWIM_SCL, 0, 4)>;
		};
	};

	i2c1_sleep: i2c1_sleep{
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 5)>,
				<NRF_PSEL(TWIM_SCL, 0, 4)>;
			low-power-enable;
		};
	};

	i2c2_default: i2c2_default{
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 7)>,
				<NRF_PSEL(TWIM_SCL, 0, 6)>;
		};
	};

	i2c2_sleep: i2c2_sleep{
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 7)>,
				<NRF_PSEL(TWIM_SCL, 0, 6)>;
			low-power-enable;
		};
	};


	// We now use I2S interface instead of PDM to get bit stream
	i2s0_default: i2s0_default{
		group1{
			// need to define MCK, LRCK_M, even though we don't wire them with PDM mic
			// otherwise I2S driver will not work
			psels = <NRF_PSEL(I2S_MCK,1,9)>,
					<NRF_PSEL(I2S_SCK_M,1,10)>,
					<NRF_PSEL(I2S_LRCK_M,1,11)>,
					// <NRF_PSEL(I2S_SDOUT,1,12)>,
					<NRF_PSEL(I2S_SDIN,1,13)>;				
		};
	};

	spi3_default: spi3_default{
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 1, 4)>,
					<NRF_PSEL(SPIM_MISO, 1, 6)>,
					<NRF_PSEL(SPIM_MOSI, 1, 5)>;
		};
	};
};

// UART
&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};


// SD card with SPI interface
&spi3 {
	status = "okay";
	cs-gpios = <&gpio1 7 GPIO_ACTIVE_LOW>;
	pinctrl-0 = <&spi3_default>;
	pinctrl-names = "default";
	sdhc0: sdhc@0 {
			compatible = "zephyr,sdhc-spi-slot";
			reg = <0>;
			status = "okay";
			mmc {
				compatible = "zephyr,sdmmc-disk";
				status = "okay";
			};
			spi-max-frequency = <24000000>;
	};
};
